  <% case params[:operation] %>
    <% when "add" %>
      <%= params[:num1].to_i + params[:num2].to_i %>
    <% when "subtract" %>
      <%= params[:num1].to_i - params[:num2].to_i %>
    <% when "multiply" %>
      <%= "#{params[:num1].to_i * params[:num2].to_i}" %>
    <% when "divide" %>
      <%= "#{params[:num1].to_i / params[:num2].to_i}" %>
    <% else %>
      <%= <h1>"Error: capacity has an invalid value"</h1> %>
    <% end %>
