  <% case params[:operation] %>
    <% when "add" %>
      <%= "You ran out of gas." %>
    <% when "subtract" %>
      <%= "The tank is almost empty. Quickly, find a gas station!" %>
    <% when "multiply" %>
      <%= "You should be ok for now." %>
    <% when "divide" %>
      <%= "The tank is almost full." %>
    <% else %>
      <%= <h1>"Error: capacity has an invalid value (#{capacity})"</h1> %>
    <% end %>
