  <% case params[:operation] %>
    <% when "add" %>
      <%= "#{params[:num1].to_i + params[:num2].to_i}" %>
    <% when "subtract" %>
      <%= "#{params[:num1].to_i - params[:num2].to_i}" %>
    <% when "multiply" %>
      <%= "#{params[:num1].to_i * params[:num2].to_i}" %>
    <% when "divide" %>
      <%= "The tank is almost full." %>
    <% else %>
      <%= <h1>"Error: capacity has an invalid value (#{capacity})"</h1> %>
    <% end %>
